block addDate
    .addDate    
        h2.font-weight-bold When are you traveling?
        p.review__p Add dates for updated pricing and availability.
        button.btn.btn-dark.addDate__button Add Dates