block benefit   
    .benefit
        h2 Voyager avec Airbnb
        hr
        .row
            .col-md-4
                i.fas.fa-heart.benefit__icon
                h5 Assistance utilisateurs 24h/24
                p We are here for you day and night. Talk to our support team wherever you are, at any time.
            .col-md-4
                i.fas.fa-home.benefit__icon
                h5 Assistance utilisateurs 24h/24
                p We are here for you day and night. Talk to our support team wherever you are, at any time.
            .col-md-4
                i.fas.fa-circle.benefit__icon
                h5 Assistance utilisateurs 24h/24
                p We are here for you day and night. Talk to our support team wherever you are, at any time.        