block product
    .product
        hr
        h2 Accommodations in United States
        .row.mb-3
            .col-md-3
                img.product__Hotelroom.rounded(src="https://a0.muscache.com/im/pictures/21611933/43f6de69_original.jpg?aki_policy=xx_large", alt="")
                .product-name Secluded Intown Treehouse
                |₫8,726,723 per night &#8729; Free cancellation...
            .col-md-3
                img.product__Hotelroom.rounded(src="https://a0.muscache.com/im/pictures/21611933/43f6de69_original.jpg?aki_policy=xx_large", alt="")
                .product-name Secluded Intown Treehouse
                |₫8,726,723 per night &#8729; Free cancellation...
            .col-md-3
                img.product__Hotelroom.rounded(src="https://a0.muscache.com/im/pictures/21611933/43f6de69_original.jpg?aki_policy=xx_large", alt="")
                .product-name Secluded Intown Treehouse
                |₫8,726,723 per night &#8729; Free cancellation...
            .col-md-3
                img.product__Hotelroom.rounded(src="https://a0.muscache.com/im/pictures/21611933/43f6de69_original.jpg?aki_policy=xx_large", alt="")
                .product-name Secluded Intown Treehouse
                |₫8,726,723 per night &#8729; Free cancellation...
        a.product__showall(href="#") Show all(22,000+)