block review
    .review
        h2 United States: What other travelers have thought of their accommodation
        p.review__p 
            i.fas.fa-star.review__icon 
            |Housing US got 4.8 out of 5 stars and over 26 million reviews
        .row
            .col-md-4
                img.review__Hotelroom(src="https://a0.muscache.com/im/pictures/9691ec39-5362-4098-8a80-37efb3c2000c.jpg?aki_policy=xx_large")
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                p.review__p L'appartement est neuf et très propre. L'acceuil est parfait. L'emplacement est un peu loin du centre ville et il n'estpas vraiment
                .review__user  
                    img.rounded-circle.review__avatar(src="https://a0.muscache.com/im/pictures/e305b081-c61b-4b96-a667-06dcb7969365.jpg?aki_policy=large", alt="")
                    .review__userinfo
                        h5.font-weight-bold Hervé
                        p.review__p la France
            .col-md-4
                img.review__Hotelroom(src="https://a0.muscache.com/im/pictures/9691ec39-5362-4098-8a80-37efb3c2000c.jpg?aki_policy=xx_large")
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                p.review__p L'appartement est neuf et très propre. L'acceuil est parfait. L'emplacement est un peu loin du centre ville et il n'estpas vraiment
                .review__user  
                    img.rounded-circle.review__avatar(src="https://a0.muscache.com/im/pictures/e305b081-c61b-4b96-a667-06dcb7969365.jpg?aki_policy=large", alt="")
                    .review__userinfo
                        h5.font-weight-bold Hervé
                        p.review__p la France
            .col-md-4
                img.review__Hotelroom(src="https://a0.muscache.com/im/pictures/9691ec39-5362-4098-8a80-37efb3c2000c.jpg?aki_policy=xx_large")
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                i.fas.fa-star
                p.review__p L'appartement est neuf et très propre. L'acceuil est parfait. L'emplacement est un peu loin du centre ville et il n'estpas vraiment
                .review__user  
                    img.rounded-circle.review__avatar(src="https://a0.muscache.com/im/pictures/e305b081-c61b-4b96-a667-06dcb7969365.jpg?aki_policy=large", alt="")
                    .review__userinfo
                        h5.font-weight-bold Hervé
                        p.review__p la France
