.footer {
  width: 100%;

  @media (max-width: 744px) {
    .footer {
      display: none;
    }
  }

  &__icon {
    background-color: $graydark-color !important;
  }

  &__signature {
    width: 100%;
    margin-top: -1.5%;
    margin-bottom: 2.5%;
    font-size: $text-fontsize;
  }
}